include charm.c
include harmony
include harmony.bat
include charm.Windows.exe
include modules/*.hny
include code/*.hny
include book/*.pdf
exclude .gitignore runall.scr webinstall
exclude queuetest.hny queueconc.hny Makefile hintegration_test.py
exclude hintegration_results.md
